{% extends 'Base.html' %}
{% block content %}

<div class="jumbotron p-4">
    <h1 class="display-4"><strong>Armando Cabral Martinez 15131296</strong></h1>
    <p class="lead">Esta es una pagina simple de prueba hecha en Django con una base de datos de un modelo</p>
    <hr class="my-4">

    <img src="{ % static 'images/prueba2.jpg' % }">
    <br>
    {% for posts in listado %}

		{{ posts.personaje }}
		{{ posts.descripcion }}
		{{ posts.fecha }}

	{% endfor %}
  </div>

{% endblock content %}